In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%run crimes_report.ipynb

import crimes_report.crimes_df_2


# crimes_df_2

ModuleNotFoundError: No module named 'crimes_report'

In [25]:
crimes_df_copy = crimes_df_final
crimes_df_2 = pd.DataFrame()
crimes_df_2['Post_Code'] = crimes_df_copy['postcode']
crimes_df_2['LAW_CAT_CD'] = crimes_df_copy['LAW_CAT_CD']

# crimes_df_2['FELONY'] = crimes_df_copy.groupby('postcode').groupby('LAW_CAT_CD').size()
# crimes_df_2
crimes_df_2 = crimes_df_2.Post_Code.value_counts().reset_index(name='Crimes')
crimes_df_2 = crimes_df_2.rename(columns={'index':'Zip Codes'})

crimes_df_2

   Zip Codes  Crimes
0      11207       5
1      10002       4
2      10456       4
3      11206       3
4      10458       3
5      11691       3
6      10459       2
7      10036       2
8      10022       2
9      10029       2
10     10303       2
11     11226       2
12     10301       2
13     10457       2
14     11213       2
15     11208       2
16     11223       2
17     10462       2
18     10003       2
19     11233       2
20     11212       1
21     10025       1
22     10475       1
23     11225       1
24     10026       1
25     11234       1
26     11235       1
27     11215       1
28     11102       1
29     11370       1
..       ...     ...
37     11433       1
38     10065       1
39     11372       1
40     11419       1
41     10011       1
42     11416       1
43     10469       1
44     11203       1
45     11209       1
46     11428       1
47     10013       1
48     11368       1
49     11231       1
50     10305       1
51     11210       1
52     11423       1
53     10014       1
54     10453       1
55     11106       1
56     10010       1
57     11201       1
58     11375       1
59     11211       1
60     10452       1
61     11220       1
62     11373       1
63     11436       1
64     11434       1
65     11377       1
66     11412       1

[67 rows x 2 columns]