In [1]:
import pandas as pd
import numpy as np
%run SAT_Scores.ipynb

for index, row in scores_df.iterrows():
    number = pd.to_numeric(row['Percent Tested'].strip('%'))
    scores_df.at[index, 'Percent Tested'] = number

scores_df

,School Name,Borough,Zip Code,Average Score (SAT Math),Average Score (SAT Writing),Percent Tested
0,"New Explorations into Science, Technology and ...",Manhattan,10002,657.0,601.0,91
1,Essex Street Academy,Manhattan,10002,395.0,387.0,78.9
2,Lower Manhattan Arts Academy,Manhattan,10002,418.0,415.0,65.1
3,High School for Dual Language and Asian Studies,Manhattan,10002,613.0,463.0,95.9
4,Henry Street School for International Studies,Manhattan,10002,410.0,381.0,59.7
5,Bard High School Early College,Manhattan,10002,634.0,639.0,70.8
6,Urban Assembly Academy of Government and Law,Manhattan,10002,389.0,381.0,80.8
7,Marta Valle High School,Manhattan,10002,438.0,394.0,35.6
8,University Neighborhood High School,Manhattan,10002,437.0,352.0,69.9
9,New Design High School,Manhattan,10002,381.0,372.0,73.7
10,Pace High School,Manhattan,10002,430.0,427.0,87.8
11,High School for Health Professions and Human S...,Manhattan,10003,452.0,430.0,86.9
12,High School for Language and Diplomacy,Manhattan,10003,446.0,411.0,70.2
13,International High School at Union Square,Manhattan,10003,403.0,316.0,53.2
14,Institute for Collaborative Education,Manhattan,10003,501.0,541.0,78.6
15,Gramercy Arts High School,Manhattan,10003,446.0,455.0,79.6
16,Urban Assembly New York Harbor School,Manhattan,10004,446.0,428.0,78.8
17,Richard R. Green High School of Teaching,Manhattan,10004,411.0,409.0,60
18,Millennium High School,Manhattan,10004,577.0,567.0,94
19,Urban Assembly School of Business for Young Women,Manhattan,10004,418.0,417.0,75
20,High School of Economics and Finance,Manhattan,10006,469.0,447.0,66.8
21,Leadership and Public Service High School,Manhattan,10006,390.0,392.0,54.9
22,East Side Community School,Manhattan,10009,454.0,445.0,85.2
23,Baruch College Campus High School,Manhattan,10010,592.0,531.0,94.3
24,School of the Future High School,Manhattan,10010,534.0,522.0,89.9
25,Manhattan Village Academy,Manhattan,10010,522.0,510.0,98.8
26,NYC Lab School for Collaborative Studies,Manhattan,10011,595.0,555.0,79.8
27,Hudson High School of Learning Technologies,Manhattan,10011,378.0,388.0,71.8
28,Manhattan Business Academy,Manhattan,10011,410.0,399.0,69.7
29,Landmark High School,Manhattan,10011,386.0,386.0,30.6
...,...,...,...,...,...,...
345,Excelsior Preparatory High School,Queens,11413,384.0,400.0,70.1
346,Preparatory Academy for Writers (College Board),Queens,11413,398.0,393.0,69.5
347,Queens Preparatory Academy,Queens,11413,423.0,403.0,83.7
348,George Washington Carver High School for the S...,Queens,11413,439.0,419.0,63.5
349,"High School for Construction Trades, Engineeri...",Queens,11416,489.0,451.0,78.9
350,John Adams High School,Queens,11417,418.0,395.0,38.4
351,Robert H. Goddard High School of Communication...,Queens,11417,426.0,424.0,85.1
352,Richmond Hill High School,Queens,11418,413.0,399.0,37.9
353,Cambria Heights Academy,Queens,11423,418.0,411.0,58.5
354,"Queens High School of Teaching, Liberal Arts, ...",Queens,11426,453.0,439.0,72.4
355,Martin Van Buren High School,Queens,11427,397.0,391.0,40
356,Queens Gateway to Health Sciences Secondary Sc...,Queens,11432,524.0,514.0,92.5
357,Jamaica Gateway to the Sciences,Queens,11432,487.0,463.0,78.6
358,High School for Community Leadership,Queens,11432,415.0,386.0,72.3
359,Young Women's Leadership School in Queens,Queens,11432,415.0,433.0,90.4
360,Queens Collegiate (College Board),Queens,11432,455.0,441.0,74.8
361,Hillcrest High School,Queens,11432,448.0,426.0,51.8
362,Thomas A. Edison Career and Technical Educatio...,Queens,11432,514.0,470.0,80
363,Hillside Arts and Letters Academy,Queens,11432,409.0,404.0,62.6
364,York Early College Academy,Queens,11433,496.0,473.0,92.9
365,Queens High School for the Sciences at York Co...,Queens,11433,701.0,625.0,97.9
366,High School for Law Enforcement and Public Safety,Queens,11434,410.0,409.0,56.6
367,August Martin High School,Queens,11434,366.0,364.0,26.3
368,Frederick Douglass Academy VI High School,Queens,11691,410.0,407.0,30.1
369,Academy of Medical Technology (College Board),Queens,11691,422.0,415.0,67.6
370,"Queens High School for Information, Research, ...",Queens,11691,372.0,352.0,44.6
371,Rockaway Park High School for Environmental Su...,Queens,11694,357.0,376.0,38.5
372,Channel View School for Research,Queens,11694,427.0,423.0,76.6
373,Rockaway Collegiate High School,Queens,11694,399.0,405.0,46.5
374,Scholars' Academy,Queens,11694,588.0,568.0,99.2

In [11]:
scores_df2 = pd.DataFrame()
scores_df2['average'] = scores_df.groupby('Zip Code')['Percent Tested'].transform(lambda x : x.mean())
scores_df2

       average
0    73.563636
1    73.563636
2    73.563636
3    73.563636
4    73.563636
5    73.563636
6    73.563636
7    73.563636
8    73.563636
9    73.563636
10   73.563636
11   73.700000
12   73.700000
13   73.700000
14   73.700000
15   73.700000
16   76.950000
17   76.950000
18   76.950000
19   76.950000
20   60.850000
21   60.850000
22   85.200000
23   94.333333
24   94.333333
25   94.333333
26   70.416667
27   70.416667
28   70.416667
29   70.416667
..         ...
345  71.700000
346  71.700000
347  71.700000
348  71.700000
349  78.900000
350  61.750000
351  61.750000
352  37.900000
353  58.500000
354  72.400000
355  40.000000
356  75.375000
357  75.375000
358  75.375000
359  75.375000
360  75.375000
361  75.375000
362  75.375000
363  75.375000
364  95.400000
365  95.400000
366  41.450000
367  41.450000
368  47.433333
369  47.433333
370  47.433333
371  65.200000
372  65.200000
373  65.200000
374  65.200000

[375 rows x 1 columns]

In [13]:
scores_df.groupby('Zip Code').transform(lambda x : x.mean())

     Average Score (SAT Math)  Average Score (SAT Writing)  Percent Tested
0                  472.909091                   437.454545       73.563636
1                  472.909091                   437.454545       73.563636
2                  472.909091                   437.454545       73.563636
3                  472.909091                   437.454545       73.563636
4                  472.909091                   437.454545       73.563636
5                  472.909091                   437.454545       73.563636
6                  472.909091                   437.454545       73.563636
7                  472.909091                   437.454545       73.563636
8                  472.909091                   437.454545       73.563636
9                  472.909091                   437.454545       73.563636
10                 472.909091                   437.454545       73.563636
11                 449.600000                   430.600000       73.700000
12                 449.600000                   430.600000       73.700000
13                 449.600000                   430.600000       73.700000
14                 449.600000                   430.600000       73.700000
15                 449.600000                   430.600000       73.700000
16                 463.000000                   455.250000       76.950000
17                 463.000000                   455.250000       76.950000
18                 463.000000                   455.250000       76.950000
19                 463.000000                   455.250000       76.950000
20                 429.500000                   419.500000       60.850000
21                 429.500000                   419.500000       60.850000
22                 454.000000                   445.000000       85.200000
23                 549.333333                   521.000000       94.333333
24                 549.333333                   521.000000       94.333333
25                 549.333333                   521.000000       94.333333
26                 460.333333                   446.166667       70.416667
27                 460.333333                   446.166667       70.416667
28                 460.333333                   446.166667       70.416667
29                 460.333333                   446.166667       70.416667
..                        ...                          ...             ...
345                411.000000                   403.750000       71.700000
346                411.000000                   403.750000       71.700000
347                411.000000                   403.750000       71.700000
348                411.000000                   403.750000       71.700000
349                489.000000                   451.000000       78.900000
350                422.000000                   409.500000       61.750000
351                422.000000                   409.500000       61.750000
352                413.000000                   399.000000       37.900000
353                418.000000                   411.000000       58.500000
354                453.000000                   439.000000       72.400000
355                397.000000                   391.000000       40.000000
356                458.375000                   442.125000       75.375000
357                458.375000                   442.125000       75.375000
358                458.375000                   442.125000       75.375000
359                458.375000                   442.125000       75.375000
360                458.375000                   442.125000       75.375000
361                458.375000                   442.125000       75.375000
362                458.375000                   442.125000       75.375000
363                458.375000                   442.125000       75.375000
364                598.500000                   549.000000       95.400000
365                598.500000                   549.000000       95.400000
366                388.000000                   386.500000       41.450000
367                388.000000                   386.500000       41.450000
368                401.333333                   391.333333       47.433333
369                401.333333                   391.333333       47.433333
370                401.333333                   391.333333       47.433333
371                442.750000                   443.000000       65.200000
372                442.750000                   443.000000       65.200000
373                442.750000                   443.000000       65.200000
374                442.750000                   443.000000       65.200000

[375 rows x 3 columns]

In [14]:
scores_df.groupby('Zip Code')['Percent Tested'].transform(lambda x : x.mean())

0      73.563636
1      73.563636
2      73.563636
3      73.563636
4      73.563636
5      73.563636
6      73.563636
7      73.563636
8      73.563636
9      73.563636
10     73.563636
11     73.700000
12     73.700000
13     73.700000
14     73.700000
15     73.700000
16     76.950000
17     76.950000
18     76.950000
19     76.950000
20     60.850000
21     60.850000
22     85.200000
23     94.333333
24     94.333333
25     94.333333
26     70.416667
27     70.416667
28     70.416667
29     70.416667
         ...
345    71.700000
346    71.700000
347    71.700000
348    71.700000
349    78.900000
350    61.750000
351    61.750000
352    37.900000
353    58.500000
354    72.400000
355    40.000000
356    75.375000
357    75.375000
358    75.375000
359    75.375000
360    75.375000
361    75.375000
362    75.375000
363    75.375000
364    95.400000
365    95.400000
366    41.450000
367    41.450000
368    47.433333
369    47.433333
370    47.433333
371    65.200000
372    65.200000
373    65.200000
374    65.200000
Name: Percent Tested, Length: 375, dtype: float64

In [20]:
scores_df['average'] = scores_df.groupby('Zip Code')['Percent Tested'].transform(
    lambda x : x.mean()
)

scores_df.groupby('Zip Code').aggregate('mean')

          Average Score (SAT Math)  Average Score (SAT Writing)    average
Zip Code
10002                   472.909091                   437.454545  73.563636
10003                   449.600000                   430.600000  73.700000
10004                   463.000000                   455.250000  76.950000
10006                   429.500000                   419.500000  60.850000
10009                   454.000000                   445.000000  85.200000
10010                   549.333333                   521.000000  94.333333
10011                   460.333333                   446.166667  70.416667
10013                   478.500000                   451.500000  88.200000
10016                   362.500000                   354.000000  54.450000
10019                   429.222222                   406.000000  66.722222
10021                   641.000000                   631.000000  86.000000
10023                   479.857143                   473.000000  68.814286
10024                   429.333333                   430.333333  69.500000
10026                   385.500000                   382.500000  58.200000
10027                   439.666667                   433.000000  72.966667
10029                   466.200000                   442.200000  86.380000
10030                   409.000000                   420.000000  60.800000
10031                   571.000000                   521.500000  83.300000
10032                   385.000000                   368.500000  63.150000
10033                   443.000000                   434.000000  87.000000
10035                   344.000000                   367.000000  40.500000
10036                   446.333333                   463.000000  71.833333
10038                   418.000000                   398.000000  44.300000
10039                   463.000000                   450.000000  65.100000
10040                   403.000000                   393.200000  54.100000
10065                   451.333333                   424.666667  70.566667
10128                   435.000000                   425.000000  63.000000
10282                   754.000000                   693.000000  97.400000
10301                   452.000000                   441.000000  60.466667
10302                   432.000000                   425.000000  44.600000
...                            ...                          ...        ...
11235                   473.333333                   450.666667  60.100000
11236                   384.857143                   397.428571  58.114286
11237                   397.250000                   383.000000  62.050000
11238                   379.000000                   385.000000  61.300000
11354                   444.000000                   405.000000  46.100000
11355                   501.000000                   387.000000  78.550000
11358                   484.000000                   487.000000  89.200000
11361                   523.000000                   485.000000  76.700000
11364                   563.000000                   510.000000  75.600000
11365                   562.000000                   485.000000  80.700000
11366                   488.000000                   454.500000  77.750000
11367                   573.500000                   543.000000  79.600000
11368                   413.000000                   393.000000  76.700000
11373                   421.250000                   401.250000  57.475000
11375                   488.500000                   466.000000  74.600000
11385                   452.000000                   416.000000  38.900000
11411                   382.000000                   394.500000  57.550000
11412                   405.000000                   409.000000  72.400000
11413                   411.000000                   403.750000  71.700000
11416                   489.000000                   451.000000  78.900000
11417                   422.000000                   409.500000  61.750000
11418                   413.000000                   399.000000  37.900000
11423                   418.000000                   411.000000  58.500000
11426                   453.000000                   439.000000  72.400000
11427                   397.000000                   391.000000  40.000000
11432                   458.375000                   442.125000  75.375000
11433                   598.500000                   549.000000  95.400000
11434                   388.000000                   386.500000  41.450000
11691                   401.333333                   391.333333  47.433333
11694                   442.750000                   443.000000  65.200000

[115 rows x 3 columns]